body {
  background-color: #333;
  color: #e3e3e3;
  display: flex;
  justify-content: center;
}

.app {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

input {
  padding-left: 0.5rem;
  border-radius: 5px;
}

p {
  margin-top: 1.25rem;
  border-radius: 5px;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  box-shadow: 1px 1px 10px #e3e3e3;
  transition: all 0.3s;
}

p:hover {
  scale: 1.2;
}

.done {
  text-decoration: line-through;
  color: gray;
}

button {
  border-radius: 5px;
  margin-top: 1rem;
  letter-spacing: 1px;
}
